@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap');

.div-mae {
    display: flex;
    align-items: center;
    justify-content: center;

    .agenda {
        display: flex;
        background-color: aliceblue;
        width: 96%;
        height: 90dvh; 
        margin-top: 5dvh; 
        border-radius: 2dvh; 
        box-shadow: 0 8px 150px rgba(0, 0, 0, 0.3);
        justify-content: center;

        .esq2{
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
        .my-agenda {
            margin: 3dvh;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
        }

        .card-info {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            height: 17dvh; 
            width: 57dvh; 
            border-radius: 1dvh; 
            display: flex;
            flex-direction: row;
            margin-top: 3dvh;

            .esq {
                display: flex;
                flex-direction: column;
                width: 120%;

                .butao {
                    display: flex;
                    
                    margin-top: 2dvh;

                    .b1 {
                        height: 3dvh; 
                        width: 10dvh; 
                        border-radius: 0.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 4dvh ;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .b2 {
                        height: 3dvh; 
                        width: 10dvh; 
                        border-radius: 0.9dvh; 
                        background-color: #7C57B8;
                        border: none;
                        color: #fff;
                        font-size: 1.7dvh; 
                        box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        transition: transform 0.3s ease;
                        margin-left: 1dvh;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }

                .confirma {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    background-color: #14AE61;
                    width: 12dvh; 
                    text-align: center;
                    color: #eceaea;
                    border-radius: 0.4dvh; 
                    margin-left: 4dvh;
                    margin-top: 1.8dvh;
                    font-size: 1.6dvh; 
                    padding: 0.3dvh; 
                }

                .serviço {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 2.5dvh; 
                    margin-left: 4dvh;
                    margin-top: 2dvh;
                }
            }

            .dir {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                .ps {
                    .p1 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 1.6dvh; 
                        margin-bottom: 1dvh;
                    }

                    .p2 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 600;
                        font-size: 2.9dvh; 
                        color: #5b25b1;
                    }

                    .p3 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 1.6dvh; 
                        margin-top: 1dvh;
                    }
                }
            }

            .divisao2 {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #bebebe;
                height: 95%;
                width: 1px;
                margin-top: 0.6dvh;
            }
        }
    }
    .divisao{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bebebe;
        height: 98%;
        width: 1px;
        margin-top: 0.6dvh;
    }
    .dir{
        width: 50%;
    }
}
}
