@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');


body {
    background-color: #7C57B8; 
    height: 100%;
    margin: 0;
}

.linha {
    width: 90%;       
    height: 1px;      
    background-color: #7C57B8; 
    margin: 5dvh auto;   
    opacity: 60%;
}

.divmae {
    position: relative; 
    .imgsev {
        position: relative; 
        img {
            width: 100%;
            
        }
        h1 {
            position: absolute; 
            top: 28%;
            left: 50%; 
            transform: translate(-50%, -50%); 
            font-size: 13dvh;
            color: #fff;
            text-align: center; 
            font-family: "Karla", sans-serif;
            font-weight: 100;
        }
    }
    
    .sevicos {
        position: absolute; 
        left: 50%; 
        top: 350%;
        transform: translate(-50%, -50%);   
        width: 54%;
        height: 172dvh;
        margin: 0; 
        background-color: rgba(255, 255, 255,); 
        border-radius: 1dvh;    
    
        .voltar{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2dvh;
            margin-top: 3dvh;
            margin-left: 4dvh;
            img{
                width: 6dvh;
                height: 6dvh;
                transition: transform 1s ease;
            }
            img:hover {
                transform: scale(1.1); 
            }
            h1{
                font-size: 4dvh;
                font-family: "Hind Siliguri", sans-serif;
                font-weight: 600;
                margin-bottom: 1dvh;
            }
        }
        
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .modal-content {
            position: relative; 
            background: white;
            width: 40%;
            height: 90%;
            border-radius: 8px;
            display: flex;
            overflow-y: auto;
            flex-direction: column;
        
            .x {
                position: absolute; 
                top: 1dvh;
                right: 1dvh; 
                height: 3dvh;
                width: 3dvh;
                cursor: pointer; 
            }
            h1{
                text-align: center;
                font-family: "Hind Siliguri", sans-serif;
                font-weight: 600;
            }
            
            .dias{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1dvh;
                transition: transform 0.3s ease;

                &.animating {
                    opacity: 0; 
                    transform: translateY(-10px);
                }
               .setaE,.setaD{
                img{
                    width: 4dvh;
                    height: 4dvh;
                    margin-top: 5dvh;
                    opacity: 70%;
                    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
                    border-radius: 10dvh;
                    transition: transform 0.3s ease;
                       
                }
                img:hover {
                    transform: scale(1.1);
                }
               }
                .dia{
                    background-color: #ffffff;
                    width: 7.1dvh;
                    height: 9dvh;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 1dvh;
                    margin-top: 3dvh;
                    border: #cfcfcf solid 1px;
                    cursor: pointer; 
                    transition: background-color 0.3s; 
                
                    &:hover {
                        background-color: #f0f0f0; 
                    }
                    &.selected {
                        background-color: #7C57B8; 
                    color: white; 
                    }
                    .d1{
                        font-family: "Hind Siliguri", sans-serif;
                        font-weight: 400;
                    }
                    .d2{
                        font-family: "Hind Siliguri", sans-serif;
                        font-weight: 700;
                    }
                }     
                .disabled{
                    color: #afafaf;
                }                        
            }
            .linha-modal{
                width: 87%;       
                height: 1px;      
                background-color: #000000; 
                margin: 2dvh auto;   
                opacity: 10%;
            }
            .horario-marcado{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 2dvh;
                .periodo{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #f1f1f1;
                    height: 5dvh;
                    width: 34dvh;
                    padding-left: 1dvh;
                    padding-right: 1dvh;
                    border-radius: 1dvh;
                    .dia,.tarde,.noite{
                        
                        height: 4dvh;
                        width: 17dvh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 50%;
                        border-radius: 0.5dvh;
                        font-family: "Hind Siliguri", sans-serif;
                        font-weight: 600;
                    }
                    .selected {
                        background-color: #fff; 
                        color: #7C57B8;
                        opacity: 100%;
                    }
                }
                .horas{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-top: 4dvh;
                        img{
                            width: 4dvh;
                            height: 4dvh;
                            margin-left: 2dvh;
                            margin-right: 2dvh;
                            opacity: 70%;
                            box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
                            border-radius: 10dvh;
                            transition: transform 0.3s ease;     
                        }
                        img:hover {
                            transform: scale(1.1);
                        }
                        .tempo{
                            display: flex;
                            flex-direction: row;
                            gap: 1dvh;
                            .tem{
                                background-color: #ffffff;
                                padding: 1dvh 3dvh 1dvh 3dvh;
                                border-radius: 0.6dvh;
                                border: #d8d8d8 solid 1px;
                                font-family: "Hind Siliguri", sans-serif;
                                font-weight: 500;
                                cursor: pointer;
                              
                                transition: background-color 0.3s, color 0.3s;
                            }
                            
                            .tem.selected {
                                background-color: #7C57B8; 
                                color: white; 
                                border-radius: 5px; 
                            }
                        }
                }
            }
            .in{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            .informacoes {
                background-color: #f1f1f1;
                height: 16dvh;
                width: 88%;
                border-radius: 1.2dvh;
                margin-top: 3dvh;
                max-height: 200px; 
                overflow-y: auto; 
                margin-bottom: 10px; 
            
                .detalhes {
                    display: flex; 
                    flex-direction: row;
                    justify-content: space-between;
                    .E{
                        display: flex;
                        flex-direction: column;
                        .trabalho{
                            font-family: "Poppins", sans-serif;
                            font-weight: 600;
                            font-size: 1.8dvh;
                            margin: 2dvh ;
                            color: #000000;
                        } 
                        
                    }
                    
            
                    .D {
                        margin-left: auto; 
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin: 2dvh;
                        margin-right: 4dvh;
                        .valor {
                            font-family: "Roboto", sans-serif;
                            font-weight: 500;
                            font-size: 2.3dvh;
                        }
            
                        .hora {
                            font-family: "Poppins", sans-serif;
                            font-weight: 600;
                            color: #7e7e7e;
                            margin-top: 1dvh;
                        }
                    }
                }
                .separacao{
                    width: 95%;
                    height: 1px;
                    background-color: #afafaf;
                    margin: auto;
                    
                }
                .remover{
                    font-family: "Poppins", sans-serif;
                    font-weight: 300;
                    font-size: 1.6dvh;
                    margin: 2dvh ;
                    color: #d10303;
                    margin-top: 1dvh;
                }
                
                }
            }
                .adicionar-serviço{
                    margin-right: auto; 
                    display: flex;
                    align-items: flex-start;
                    margin-left: 3dvh;
                    .adicionar{
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        color: #7C57B8;
                        font-size: 1.8dvh;
                        margin: 2dvh;
                    }
            }
            .separacao{
                width: 100%;
                height: 1px;
                background-color: #000000;
                opacity: 30%;     
                margin-top: 5dvh;     
            }
            .finalizar{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 3dvh;
                .total{
                    display: flex;
                    flex-direction: row;
                    gap: 2dvh;
                    align-items: center;
                    
                    .p1{
                        font-size: 2dvh;
                        font-family: "Hind Siliguri", sans-serif;
                        font-weight: 300;
                    }
                    .p2{
                        font-size: 4dvh;
                        font-family: "Roboto", sans-serif;
                        font-weight: 600;
                    }
                }
                button{
                    background-color: #5d1e99; 
                    color: white; 
                    height: 5dvh;
                    width: 60%;
                    border: none; 
                    border-radius: 5px; 
                    cursor: pointer; 
                    font-size: 2dvh; 
                    transition: transform 1s ease;
                    margin-top: 2.7dvh;
                    margin-bottom: 2.7dvh;
                }       
                button:hover {
                    transform: scale(1.05);
                    
                }
            }
            
        }
    }
}

.modal-overlay{
    .modal-content{
        .h1{
           margin-top: 2dvh;
        }
        .linha2{
            width: 100%;
            height: 1px;
            background-color: #5f5e5e;
            margin-top: 2dvh;  
        }
        .p{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            margin: 1dvh;
        }
        .adi-sev{
            display: flex;
            flex-direction: column ;
            margin-bottom: 0.5dvh;
            .check {
                display: flex;
                flex-direction: row; 
                gap: 2dvh;
                color: #5E1481;
                font-family: "Hind Siliguri", sans-serif;
                font-weight: 600;
                margin-left: 1dvh;
                font-size: 2dvh;
            
                input {
                    width: 2dvh; 
                    height: 2dvh; 
                    border-radius: 50%; 
                    appearance: none; 
                    background-color: #fff; 
                    border: 2px solid #5E1481; 
                    cursor: pointer;
                    margin-top: 0.7dvh;
                    &:checked {
                        background-color: #5E1481; 
                        outline: none; 
                    }
                }
            }
            
            .valor{
                margin-left: 4.4dvh;
                font-family: "Hind Siliguri", sans-serif;
                font-weight: 600;
            }
        }
        .b{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3dvh;
        .confirm-button {
            background-color: #5d1e99; 
            color: white; 
            height: 5dvh;
            width: 40dvh;
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            font-size: 2dvh; 
            transition: transform 1s ease;
        }       
        .confirm-button:hover {
            transform: scale(1.05);
            
        }
    }
    }
}

