@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.div2 {
  background-color: #7C57B8;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;

    .informacoes {
      background-color: #fff;
      width: 60%;
      padding: 2rem;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      box-shadow: 0 8px 150px rgba(0, 26, 255, 0.3);
      height: 32.3rem;
      h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 3rem;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: #5c5c5c;
      }

      p {
        font-size: 1.35rem;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }

      .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        gap: 1.5rem;

        .inp1 {
          display: flex;
          align-items: center;
          position: relative;

          img {
            height: 1.8rem;
            width: 1.8rem;
            position: absolute;
            left: 0.8rem;
            top: 50%;
            transform: translateY(-50%);
          }

          input {
            
            width: 40dvh;
            height: 3rem;
            border-radius: 1.5rem;
            border: none;
            box-shadow: 0 8px 13px rgba(0, 26, 255, 0.3);
            padding-left: 3rem;
            font-family: "Inter", sans-serif;
            font-weight: 800;
            font-size: 1rem;
            outline: none;
          }
        }
      }

      .error {
        color: red;
        font-size: 1rem;
        margin-top: 1rem;
        font-family: "Inter", sans-serif;
        font-weight: 400;
      }

      .button {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        gap: 1rem;

        .b2:hover {
          transform: scale(1.09);
        }

        .b2 {
          height: 3.5rem;
          width: 12rem;
          border-radius: 1rem;
          background: linear-gradient(55deg, #6f07cf 35%, #a010b3);
          border: none;
          color: #fff;
          font-size: 1.55rem;
          box-shadow: 0 8px 15px rgba(0, 26, 255, 0.3);
          font-family: "Inter", sans-serif;
          font-weight: 600;
          transition: transform 1s ease;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .bem-vinda {
      background: linear-gradient(55deg, #6f07cf 35%, #a010b3);
      width: 40%;
      padding: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      box-shadow: 0 8px 150px rgba(0, 26, 255, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .h1 {
        color: #fff;
        font-size: 2rem;
        margin-top: 2rem;
        text-align: center;
        font-family: "Lily Script One", cursive;
        font-weight: 400;
      }
    }
  }
}


@media (max-width: 1024px) {
  .div2 {
    .login {
      .informacoes,
      .bem-vinda {
        width: 90%;
        border-radius: 2rem;
      }


      .bem-vinda {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .div2 {
    
    .login {
      .informacoes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1.5rem;

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }

        .input {
          gap: 1rem;
          .inp1 input {
            font-size: 0.9rem;
            width: 100%;
          }
        }

        .button .b2 {
          width: 9rem;
          height: 3rem;
          font-size: 1rem;
        }
      }      
    }
  }
}

@media (max-width: 480px) {
  .div2 {
    .login {
      .informacoes,
      .bem-vinda {
        width: 100%;
      }

      .informacoes {
        padding: 1rem;

        h1 {
          font-size: 1.25rem;
          margin-top: 3rem;
        }

        p {
          font-size: 0.85rem;
        }

        .input {
          gap: 0.75rem;
          .inp1 input {
            font-size: 0.85rem;
            padding-left: 1.5rem;
          }
        }

        .button .b2 {
          width: 6rem;
          height: 2rem;
          font-size: 0.85rem;
        }
      }

      .bem-vinda {
        padding: 1rem;
        .h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
